Braindecode==0.4.85
certifi==2019.11.28
cycler==0.10.0
h5py==2.10.0
kiwisolver==1.2.0
llvmlite==0.31.0
matplotlib==3.2.0
mne==0.19.2
numba==0.48.0
numpy==1.18.1
pandas==1.1.0
Pillow==7.0.0
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
resampy==0.2.2
scipy==1.4.1
six==1.14.0
torch==1.4.0
torchvision==0.7.0
tqdm==4.46.1
